<nav>
   <div class="nav-wrapper indigo">
     <a href="#" class="brand-logo" style="margin-left:20px">Planly</a>
     <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
     <ul class="right hide-on-med-and-down">
      	 <li class="white-text">
		{{#if session.isAuthenticated}}
		  Logged in as {{session.currentUser.displayName}}
		  <button class="btn-flat white-text" {{action "signOut"}}>Sign out</button>
		{{else}}
		  <button class="btn-flat white-text" {{action "openModal"}}>Sign in</button>
		{{/if}}
		</li>
     </ul>
      <ul id="nav-mobile" class="side-nav">
       	 <li class="black-text">
 		{{#if session.isAuthenticated}}
 		  Logged in as {{session.currentUser.displayName}}
 		  <button class="btn-flat" {{action "signOut"}}>Sign out</button>
 		{{else}}
 		  <button class="btn-flat" {{action "openModal"}}>Sign in</button>
 		{{/if}}
 		</li>
      </ul>
   </div>
 </nav>