<div id="login" class="modal">
  <div class="modal-content">
    <h4 id= "formTitle">Sign Up</h4>
    <div id= "loginContent">

     <div class=""><a id="googleIcon"class="waves-effect waves-blue btn white col s10 m10 l10" {{action "signIn" "google"}}><img class="" src="assets/g-logo.png" alt="google">Sign In with Google</a></div>
     <div class=""><a id="facebookIcon" class="waves-effect waves-blue btn fbBlue col s10 m10 l10" {{action "signIn" "facebook"}}><img class="" src="assets/facebooklogo.png" alt="facebook">Sign In with Facebook</a></div>
      <h5><span>or</span></h5>
      <div class="center-align">
        {{#unless enabled}}
        <!-- email -->
        <div class="input-field col s12 m12 l12">
          <i class="material-icons prefix">mail_outline</i>
          {{input value=email name='email' id='email' type="email"}}
          <label for="email">Email</label>
        </div>
        <!-- password -->
        <div class="input-field col s12 m12 l12">
          <i class="material-icons prefix">lock_outline</i>
          {{input value=password name='password' id='password' type='password'}}
          <label for="password">Password</label>
        </div>
        <a class="waves-effect waves-light btn deep-purple darken-3" id="signInButton"{{action "signIn" "password" email password}}><i class="material-icons left">mail_outline</i>Sign In</a>
        {{/unless}}
        <a class="waves-effect waves-light btn-flat deep-purple lighten-3" id="signupButton"{{action "toggleForm"}}><i class="material-icons left">mail_outline</i>Sign Up</a>
      </div>
      {{#if enabled}}
      {{sign-up submit='submit'}}
      {{/if}}
    </div>
  </div>
</div>