<div id="projectCreation" class="modal modal-fixed-footer">
	<div class="header teal"><h4 class="center-align white-text">Create a Project</h4></div>
	<div class="modal-content">
		<div class="row">
			<form class="col s12">
				<div class="center-align">
					<!-- Project name -->
					<div class="input-field col s12">
						{{input value=project-name name='project-name' id='project-name' class="validate" required="" aria-required="true"}}
						<label for="project-name" data-error="Please enter a project name" data-success="valid">Project Name</label>
					</div>
					<!-- Project goal-->
					<div class="input-field col s12">
						{{input value=project-goal name='project-goal' id='project-goal' class="validate"}}
						<label for="project-goal" data-error="Please enter a project goal" data-success="valid">Project Goal</label>
					</div>
					<!-- deadline -->
					<div class="input-field col s12">
						{{input type="date" value=project-deadline name='project-deadline' id='project-deadline' class="datepicker validate"}}
						<label for="project-deadline" data-error="Please select a deadline" data-success="valid">Deadline</label> 
					</div>
					<!-- team members -->
					<div class="input-field col s12">
						{{input value=project-member name='project-member' id='project-member'}}
						<ul id="teamMembers" class="left-align">
							<h6 class="grey-text"> Selected Members </h6>
						</ul>
						
							{{#if enabled}}
								<ul class="collection">
								{{#each user in filteredUsers}}
							
						
										{{user-chip user=user}}
								
										{{!-- <div class="chip">
									    <img src="{{user.picUrl}}" alt="Contact Person">
									    {{user.firstName}} {{user.lastName}}
									  </div> --}}
									
								{{/each}}
								</ul>
							{{/if}}
						
						<label for="project-member" data-error="Please enter a valid email" data-success="valid">Search for Team Members</label>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="input-field col s6">
				<button class="btn waves-effect waves-light red darken-1 center-align" 
				{{action "closeProjectCreation"}}> Cancel
			</button>
		</div>
		<div class="input-field col s6 center-align">
			<button class="btn waves-effect waves-light deep-purple darken-3" 
			{{action "openTeamCreation"}}> Create
		</button>
	</div>
</div>
</div>
</div>
{{yield}}
