<div id="project-edit-modal" class="modal modal-fixed-footer">
	<div class="header teal"><h4 class="center-align white-text">Edit {{name}}</h4></div>
	<div class="modal-content">
		<div class="row">
			<form class="col s12">
				<div class="center-align">
					<!-- Project name -->
					<div class="input-field col s12">
						{{input value=currentProject.name name='project-edit-name' id='project-edit-name' class="validate active" required="" aria-required="true"}}
						<label for="project-edit-name" data-error="Please enter a project name" data-success="valid" class="active">Project Name</label>
					</div>
					<!-- Project goal-->
					<div class="input-field col s12">
						{{input value=currentProject.goal name='project-edit-goal' id='project-edit-goal' class="validate active"}}
						<label for="project-edit-goal" data-error="Please enter a project goal" data-success="valid" class="active">Project Goal</label>
					</div>
					<!-- deadline -->
					<div class="input-field col s12">
						{{input type="date" value=currentProject.deadline name='project-edit-deadline' id='project-edit-deadline' class="datepicker validate active"}}
						<label for="project-edit-deadline" data-error="Please select a deadline" data-success="valid" class="active">Deadline</label> 
					</div>
					<!-- team members -->
					<div class="input-field col s12">
						{{input value=project-edit-member name='project-edit-member' id='project-edit-member'}}
						<ul id="teamMembers" class="left-align">
							<h6 class="grey-text"> Selected Members </h6>
							{{#each user in selectedUsers}}
								{{user-chip user=user class='chip' isChip=true removeSelected='removeSelected'}}
							{{/each}}
						</ul>
							
						{{#if enabled}}		
							<ul class="collection">
							{{#each user in filteredUsers}}
								{{user-chip user=user addSelected="addSelected" isChip=false}}
							{{/each}}
							</ul>
						{{/if}}
						
						<label for="project-edit-member" data-error="Please enter a valid email" data-success="valid">Search for Team Members</label>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn-flat waves-effect waves-red grey lighten-5 red-text" 
			{{action "closeProjectCreation"}}> Cancel
		</button>
		<button class="btn-flat waves-effect waves-teal grey lighten-5 teal-text" 
			{{action "updateProject"}}> Create
		</button>
	</div>
</div>
{{yield}}