{{yield}}
<div id="project-task"> 
	<div class="row">
	    <div class="col s12">
			<div class= "card">
					<div class="card-title white" style="border-bottom: 2px solid teal">
						<form action="#">
							<div class="left-align">
     							<input type="checkbox" id="taskCheckbox" class="checkbox" check="" id="task{{model.id}}" {{action "completeTask"}}/>
  								<label for="task{{model.id}}"><h4 class="black-text">{{model.description}}</h4></label>
  						</div>
  					</form>
  				</div>	

				<div class= "card-content">
					<div class="row">
						<div class="col s12 m12">
							<h5>Due: {{formatted-date model.deadline 'LL'}}</h5>
						</div>
					</div>	
					<div class="row">
						<div class="col s12 m12">
							<h5> Assigned to: 
								{{#each model.members as |member|}}
									<img class= "hoverable circle responsive-img tooltipped" data-position="top" data-delay="50" data-tooltip="{{member.fullName}}" src="{{member.picUrl}}">  
								{{/each}}
							</h5>
						</div>
					</div>
				</div> <!--end of card content -->
				<div class="card-action">
					<a><i class="activator material-icons tool-tipped" data-position="top" data-delay="50" data-tooltip="Subtasks">list</i></a>
          <a><i class="activator material-icons tool-tipped" data-position="top" data-delay="50" data-tooltip="Comments">chat_bubble_outline</i></a>

					<a href="#!"><i class="dropdown-button material-icons more-horiz" data-activates="dropdown{{model.id}}" {{action "doNothin" bubbles=false}}>more_horiz</i></a>
					<ul id="dropdown{{model.id}}" class="dropdown-content">
						<li> <a href="#!" {{action "openEditTaskModal"}} >Edit </a> </li>
						<li class="divider"> </li>
						<li> <a href="#!" {{action "removeTask" model.id}}>Delete </a> </li>
					</ul>
            	</div>
            	<div class="card-reveal">
                 	<span class="card-title grey-text text-darken-4">{{model.description}}'s Subtasks<i class="material-icons right">close</i></span>
           		 </div>
           		 <div class="card-reveal">
           		 	<div id= "tabRow" class="row">
                   <div class="col s4 m2 l2">
                    <h5 class="center-align">{{model.description}}</h5>
                    </div>
           		 	    <div class="col s4 m5 l5 navbar-fixed">
           		 	      <ul class="tabs">
           		 	        <li class=" tab col s3"><a class="active" href="#subtasks{{model.id}}">Subtasks</a></li>
           		 	        <li class="tab col s3"><a href="#comments{{model.id}}">Comments</a></li>
           		 	      </ul>

           		 	    </div>
                    <div class="col s1 m5 l5 navbar-fixed">
                      <span class="card-title grey-text text-darken-4 right-align">{{!-- {{model.description}}'s Subtasks --}}<i class="material-icons" style="margin-top:10px">close</i></span>

                    </div>
                    
           		 	    <!-- sub task --> 
           		 	      <div id="subtasks{{model.id}}" class="col s12">
                        {{#each model.subtasks as |subtask|}}
                          <div class="row">
                            <div class="col s12 m12">
                              <div class="left-align">
                                  <input type="checkbox" id="subTaskCheckbox" class="checkbox subTaskCheck" check="" id="subtask{{subtask.id}}"/>
                                  <label for="subtask{{subtask.id}}"><h5>{{subtask.description}}</h5></label>
                              </div>
                              <hr/>
                              <p>Due: {{formatted-date subtask.deadline 'LL'}}
                               Assigned to: 
                                {{#each subtask.members as |member|}}
                                  <img class= "hoverable circle responsive-img tooltipped" data-position="top" data-delay="50" data-tooltip="{{member.fullName}}" src="{{member.picUrl}}">  
                                {{/each}}
                              </p>
                            </div>
                          </div>
                        {{/each}}
           		 	      </div>
           		 	       <!-- Comments --> 
           		 	      <div id="comments{{model.id}}" class="col s12">
           		 	      	<div class="row">
                	    <form class="col s12 l12">
                	      <div class="row">
                	         <div class="input-field col s12 m10 l10">
                	             {{input value=comment id=(concat 'comment-input' model.id) type="text" class="validate"}}
                	              <label for="comment-input{{model.id}}">Comment</label>
                	          </div>
							<div class="input-field col s2 m2 l2 right-align">
                	        	<a class="center-alignwaves-effect waves-light btn"{{action 'postComment'}}>Post</a>
                	        </div> 
                	      </div>
                	    </form>
                	  </div>
                	  <ul class="collection">
                	  	{{#each model.comments as |comment|}}
                	  		{{task-comment model=comment}}
                	  	{{/each}}
                	  </ul>
                	</div>
           		 	     
           		 	  </div>
                 	
                	
                	        
           		 </div>
           	
           </div><!-- end of card -->
         </div> <!-- end of col -->
     </div>
</div>
