{{yield}}
<div id="project-task"> 
	<div class="row">
	    <div class="col s12">
			<div class= "card">
					<div class="card-title teal">
						<form action="#">

							<div class="left-align">
     							<input type="checkbox" class="checkbox" check="" id="task{{model.id}}"/>
      								<label for="task{{model.id}}" {{action "fadeOut" model.id}}><h4 class="white-text">{{model.description}}</h4> </label>
      						</div>

    					</form>
    				</div>	

				<div class= "card-content">
					<div class="row">
						<div class="col s12 m12">
							<h5>Due: {{formatted-date model.deadline 'LL'}}</h5>
						</div>
					</div>	
					<div class="row">
						<div class="col s12 m12">
							<h5> Assigned to: 
								{{#each model.members as |member|}}
									<img class= "hoverable circle responsive-img tooltipped" data-position="top" data-delay="50" data-tooltip="{{member.fullName}}" src="{{member.picUrl}}">  
								{{/each}}
							</h5>
						</div>
					</div>
				</div> <!--end of card content -->
				<div class="card-action">
					<a><i class="activator material-icons">list</i></a>
              		<a><i class="activator material-icons">chat_bubble_outline</i></a>
              		<a href="#"><i class="material-icons">favorite_border</i> </a>
					<a href="#!"><i class="dropdown-button material-icons more-horiz" data-activates="dropdown{{model.id}}" {{action "doNothin" bubbles=false}}>more_horiz</i></a>
					<ul id="dropdown{{model.id}}" class="dropdown-content">
						<li> <a href="#!" {{action "openEditTaskModal"}} >Edit </a> </li>
						<li class="divider"> </li>
						<li> <a href="#!">Delete </a> </li>
					</ul>
            	</div>
            	<div class="card-reveal">
                 	<span class="card-title grey-text text-darken-4">{{model.description}}'s Subtasks<i class="material-icons right">close</i></span>
           		 </div>
           		 <div class="card-reveal">
           		 	<div id= "tabRow" class="row">
           		 	    <div class="col s4 navbar-fixed">
           		 	      <ul class="tabs">
           		 	        <li class=" tab col s3"><a class="active" href="#subtasks">Subtasks</a></li>
           		 	        <li class="tab col s3"><a href="#comments">Comments</a></li>
           		 	      </ul>
           		 	    </div>

           		 	    <!-- sub task --> 
           		 	      <div id="subtasks" class="col s12">
           		 	      	<span class="card-title grey-text text-darken-4">{{model.description}}'s Subtasks<i class="material-icons right">close</i></span>



           		 	      </div>
           		 	       <!-- Comments --> 
           		 	      <div id="comments" class="col s12">
           		 	      	<span class="card-title grey-text text-darken-4">{{model.description}}'s Comments<i class="material-icons right">close</i></span>
           		 	      	<div class="row">
                	    <form class="col s12 l12">
                	      <div class="row">
                	         <div class="input-field col s12 m10 l10">
                	             <input id="comments" type="text" class="validate">
                	              <label for="comments">Comment</label>
                	          </div>
							<div class="input-field col s2 m2 l2">
                	        	<a class="center-alignwaves-effect waves-light btn">Post</a>
                	        </div> 
                	      </div>
                	    </form>
                	  </div>
                	  <ul class="collection">
                	  	{{!-- {{#each model.comments as |comment|}} --}}
                	  		{{task-comment}}
                	  		{{task-comment}}
                	  		{{task-comment}}
                	  		{{!-- {{task-comment model=comment}} --}}
                	  	{{!-- {{/each}} --}}
                	  </ul>
                	</div>
           		 	     
           		 	  </div>
                 	
                	
                	        
           		 </div>
           	
           </div><!-- end of card -->
         </div> <!-- end of col -->
     </div>
</div>
