{{yield}}
<div id="sub-task">
	<div class="row">
	    <form class="col s12">
	    	<div class="card z-depth-0">
	      		<div class="row">
				        <div class="input-field col s6">
				        	<i class="material-icons prefix close" {{action "closeSubtask"}}>close</i>
							{{input value=sub-task-name id='sub-task-name' class="validate" required="" aria-required="true"}}
							<label for="task-name" data-error="Please enter the task name" data-success="valid">Subtask </label>
				        </div>
				        <div class="input-field col s6">
				        	<i class="material-icons prefix">date_range</i>
				          {{input type="date" value=sub-task-deadline  class="datepicker" id="sub-task-deadline" required="" aria-required="true"}}
						  <label for="task-deadline" data-error="Please select deadline" data-success="valid">Deadline</label>
				        </div>
				        <div class="card-action">
				        	<div class="col s1">
		    					<a class="btn-floating blue"{{action "createSubtask"}}><i class="material-icons">list</i></a>
		    				</div>
		    				<div class="col s1">
		    					<a class="btn-floating yellow darken-1"><i class="material-icons">person_add</i></a>
		    				</div>
		    				<div class="col s1">
		    					<div class="file-field">
		    					     <div class="btn-floating green">
		    					       <span><i class="material-icons">attach_file</i></span>
		    					       <input type="file" multiple>
		    					     </div>
		    					</div>
		    				</div>
		    			</div><!--end of card-action-->
				</div> {{!--end of row --}}
			</div> {{!-- end of card --}}
			{{#if enabled}}
		    	{{sub-task}}
		    {{/if}}
		</form>
	</div> {{!-- end of row --}}
</div>