<div id="teamCreation" class="modal modal-fixed-footer">
		<div class="header teal"><h4 class="white-text center-align">Create a Team</h4></div>
	<div class="modal-content">
		<div class="row">
			<form class="col s12">
				<button id="skip" class="btn waves-effect waves-light blue-grey lighten-3" 
				{{action "exitTeamCreation"}}> Skip </button>
				<div class="center-align">
					<!-- Team name -->
					<div class="input-field col s12">
						{{input value=team-name id='team-name' class="validate" required="" aria-required="true"}}
						<label for="name" data-error="Please enter a team name" data-success="valid">Team Name</label>
					</div>
					<!-- Team Description-->
					<div class="input-field col s12">
						{{input value=team-description name='team-description' id='team-description' class="validate"}}
						<label for="description" data-error="Please enter a Team Description" data-success="valid">Team Description</label>
					</div>
					<!-- team members -->
					<div class="input-field col s12">
						{{input value=team-member name='team-member' id='team-member'}}
						<ul id="teamMembers" class="left-align">
							<h6 class="grey-text"> Selected Members </h6>
							{{#each user in selectedUsers}}
								{{user-chip user=user class='chip' isChip=true removeSelected='removeSelected'}}
							{{/each}}
						</ul>
						
						{{#if enabled}}
							<ul class="collection">
							{{#each user in filteredUsers}}
								{{user-chip user=user addSelected="addSelected" isChip=false}}
							{{/each}}
							</ul>
						{{/if}}
						<label for="password" data-error="Please enter a valid email" data-success="valid">Add Members To The Team</label>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn-flat waves-effect waves-red grey lighten-5 red-text" 
			{{action "closeProjectCreation"}}> Cancel
		</button>
		<button class="btn-flat waves-effect waves-teal grey lighten-5 teal-text" 
			{{action "openTeamCreation"}}> Create
		</button>
	</div>
</div>
{{yield}}