{{yield}}

<div {{action "addSelected"}}>
    <img src="{{user.picUrl}}" alt="Contact Person" class="circle">
    <span class= "title"> {{user.fullName}} </span>
    {{#if isChip}}
    	<i class='material-icons' {{action "removeSelected"}}>close</i>
	{{/if}}
</div>
