{{partial "partials/nav"}}

<main>
	{{project-creation openTeamCreation='openTeamCreation' users=model}}
	{{team-creation closeTeamCreation='closeTeamCreation'}}
	{{login-modal signIn='signIn' submit='submit' errorMessage='errorMessage'}} 
	{{outlet}}
</main>

{{partial "partials/footer"}}