{{partial "partials/nav"}}

<main>
	{{project-creation openTeamCreation='openTeamCreation' users=model}}
	{{team-creation}}
	{{login-modal signIn='signIn' submit='submit'}} 
	{{outlet}}
</main>

{{partial "partials/footer"}}