{{partial "partials/nav"}}

<main>
	<a class="btn-floating btn-small waves-effect waves-light grey" {{action "openProjectModel"}}><i class="material-icons">add</i></a>
	{{project-creation}}
	{{login-modal signIn='signIn' submit='submit'}} 
	{{outlet}}
</main>

{{partial "partials/footer"}}