<div id="projectView">
	<h2 class="center-align">Projects</h2>
	{{outlet}}
	<div class="row">
			{{#each model.projects as |project|}}
				{{project-card project=project projectLink='projectLink' deleteProject='deleteProject' editProject='editProject'}}	
			{{/each}}
	</div>
		<a class="btn-floating btn-small waves-effect waves-light grey" {{action "openProjectModel"}}><i class="material-icons">add</i></a>
</div>
{{project-close confirmDelete='confirmDelete'}}
{{project-edit currentProject=passedProject store=store}}

{{skip-team-modal}}
