<div id="projectView">
	<h2 class="center-align">Your Projects</h2>
	{{outlet}}
	<div class="row">
			{{#each model.projects as |project|}}
				<div class="col s12 m4 l4 project">
					<h5 class="center-align"><a {{action "projectLink" "projects.tasks" project}}>{{project.name}}</a></h5>
					<ul>
					{{#each project.users as |user|}}
						<li>{{user.fullName}}</li>
					{{/each}}
					</ul>
				</div>	
			{{/each}}
	</div>
		<a class="btn-floating btn-small waves-effect waves-light grey" {{action "openProjectModel"}}><i class="material-icons">add</i></a>
</div>

